NEXT_PUBLIC_SUPABASE_URL=value
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=value
SUPABASE_SECRET_KEY=value

SMTP_HOST=value
SMTP_PORT=value
SMTP_USER=value
SMTP_PASSWORD=value
SMTP_FROM_NAME=value

CRON_SECRET=value

